.button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 56px;
  cursor: pointer;
  border: none;
  align-items: center;
  border-radius: 8px;
  background-color: $default-colour-button;
  transition: background-color $effectDuration ease-in-out;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  color: #fff;

  &:hover {
    background-color: $main-text-color;
  }

  &:active {
    background-color: $active-colour-button;
  }
}
