$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #1b2129;
$font-family: 'Manrope', sans-serif;
$font-size: 22px;
$line-height: 140%;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin hover($property, $value) {
  transition: #{$property} $effectDuration;
  &:hover {
    #{$property}: $value;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

.page {
  font-family: $font-family;
  font-size: $font-size;
  color: $main-text-color;
  line-height: $line-height;
  scroll-behavior: smooth;

  &__body {
    min-width: 320px;
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all $effectDuration;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

.header {
  background-image: url(../images/header-bg/header-bg-2x.png);
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-style: bold;
    font-weight: 700;
    line-height: 100%;
    color: #fff;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 56px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;

  @include on-tablet {
    padding-block: 32px;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 24px;
    }
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone-call-2x.png);
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu-2x.png);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover-2x.png);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close-2x.png);
  }
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #f9f9f9;

  &__top {
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 56;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
  }

  &__call-to-order {
    display: block;
    padding-bottom: 4px;
    border-bottom: 1px solid $main-text-color;
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
  }
}

.container {
  padding-inline: 20px;
}

.nav {
  &__link {
    position: relative;
    color: inherit;
    font-weight: 700;
    font-style: bold;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $main-text-color;
      transition: transform $effectDuration;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
      transform-origin: left;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.main {
  background-color: #fff;

  &__content {
    display: grid;
    row-gap: 64px;
    padding-block: 64px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}

.product {
  &__photo {
    width: 100%;
  }
}

.recommended {
  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    transition: transform $effectDuration;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.about-us {
  &__content {
    @include page-grid;

    row-gap: 24px;
    padding-block: 48px;
  }

  &__photo {
    object-fit: cover;
    width: 100%;
    display: block;
  }

  &__title {
    margin-top: 48px;

    @include on-tablet {
      margin-top: 120px;
    }

    font-weight: 700;
    font-style: bold;
    font-size: 32px;
    line-height: 32px;
    color: inherit;
    grid-column: 1 / -1;

    @include on-tablet {
      font-size: 40px;
      line-height: 100%;
      grid-column: 1 / 4;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 48px;
      grid-column: 1 / 7;
    }
  }

  &__description {
    @include on-tablet {
      margin-top: 120px;
    }

    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: inherit;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }
}

.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__button {
    margin-top: 40px;

    @include on-tablet {
      margin-top: 56px;
    }

    width: 280px;

    @include on-tablet {
      width: 600px;
    }

    @include on-desktop {
      width: 324px;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 56px;
  cursor: pointer;
  border: none;
  align-items: center;
  border-radius: 8px;
  background-color: #f98921;
  transition: background-color $effectDuration ease-in-out;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  color: #fff;

  &:hover {
    background-color: $main-text-color;
  }

  &:active {
    background-color: #010810;
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 140%;
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $effectDuration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    position: relative;
    height: 0;
    padding-bottom: 100%;

    &--first {
      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }

    &--second {
      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }
  }
}

.section-title {
  font-weight: 700;
  font-style: bold;
  font-size: 32px;
  line-height: 32px;

  @include on-tablet {
    font-size: 40px;
    line-height: 40px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 48px;
  }

  &--align--left {
    text-align-last: left;
  }
}

.contact-us {
  &__content {
    padding-inline: 20px;
    display: grid;
    row-gap: 64px;
    padding-block: 64px;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }

  &__title {
    padding-inline: 20px;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }

    display: grid;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 3;
    }
  }

  &__field {
    @include page-grid;
  }

  &__form {
    display: grid;
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 48px;
    margin-bottom: 16px;
    padding-inline: 16px;
    padding-block: 14px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #f9f9f9;
    transition: all $effectDuration ease-in-out;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.15px;

    &::placeholder {
      color: #7e7e83;
    }

    &:focus {
      outline: 2px solid #f98921;
    }

    &:hover {
      border: 1px solid #dbdbdb;
    }

    &--last {
      height: 148px;
      padding-inline: 16px;
      padding-block: 14px;
      margin-bottom: 32px;
      border: 1px solid transparent;
      background-color: #f9f9f9;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.15px;
      font-style: normal;

      &::placeholder {
        color: #7e7e83;
      }

      &:focus {
        outline: 2px solid #f98921;
      }

      &:hover {
        border: 1px solid #dbdbdb;
      }
    }
  }

  &__info {
    padding-top: 48px;

    @include on-tablet {
      padding-top: 80px;
    }

    @include on-desktop {
      padding-top: 0;
    }

    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 8 / 11;
    }
  }

  &__data {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    text-decoration: none;

    &--left {
      color: #7e7e83;
      margin-bottom: 8px;
    }
  }

  &__link {
    color: $main-text-color;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.15px;
  }

  &__button {
    width: 280px;

    @include on-tablet {
      width: 600px;
    }

    @include on-desktop {
      width: 498px;
    }

    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      margin-bottom: 120px;
    }

    transition: cursor $effectDuration ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }
}
