$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.5s;
$main-text-color: #1b2129;
$font-family: 'Manrope', sans-serif;
$font-size: 22px;
$line-height: 140%;
$default-colour-button: #f98921;
$active-colour-button: #010810;
$hover-colour-button: #1b2129;
